.my-node-exit {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  background-color: transparent;
  mask-image: url(../../static/img/cloudTransition.png);
  mask-position: 0 0;
  mask-size: 122880px 100%;
}
.my-node-exit-active {
  opacity: 1;
  animation: 1.8s steps(33) forwards;
  animation-name: exitRun;
}
.my-node-enter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  mask-image: url(../../static/img/cloudTransition.png);
  mask-position: 0 0;
  mask-size: 122880px 100%;
}
.my-node-enter-active {
  opacity: 1;
  animation: 1.8s steps(31) forwards;
  animation-name: enterRun;
}

@keyframes exitRun {
  0%,
  1% {
    mask-position: -59520px 0;
  }

  2% {
    mask-position: -59520px 0;
  }

  99% {
    mask-position: -122880px 0;
  }

  99%,
  to {
    mask-position: -122880px 0;
  }
}

@keyframes enterRun {
  0%,
  1% {
    mask-position: 0 0;
  }

  2% {
    mask-position: 0 0;
  }

  99% {
    mask-position: -59520px 0;
  }

  99%,
  to {
    mask-position: -59520px 0;
  }
}
