body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 变量写这里 */
@font-face {
  font-family: "pt";
  font-weight: normal;
  src: url("./static/font/pt.ttf");
}

@font-face {
  font-family: "song";
  font-weight: bold;
  src: url("./static/font/song.ttf");
}
