body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line {
  animation-name: lineAniKey;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.lineDelay1 {
  animation-delay: 1.2s;
}

.my-node-exit {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  background-color: transparent;
  mask-image: url(/src/static/img/cloudTransition.png);
  mask-position: 0 0;
  mask-size: 122880px 100%;
}
.my-node-exit-active {
  opacity: 1;
  animation: 1.8s steps(33) forwards;
  animation-name: exitRun;
}
.my-node-enter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  pointer-events: none;
  mask-image: url(/src/static/img/cloudTransition.png);
  mask-position: 0 0;
  mask-size: 122880px 100%;
}
.my-node-enter-active {
  opacity: 1;
  animation: 1.8s steps(31) forwards;
  animation-name: enterRun;
}

@keyframes exitRun {
  0%,
  1% {
    mask-position: -59520px 0;
  }

  2% {
    mask-position: -59520px 0;
  }

  99% {
    mask-position: -122880px 0;
  }

  99%,
  to {
    mask-position: -122880px 0;
  }
}

@keyframes enterRun {
  0%,
  1% {
    mask-position: 0 0;
  }

  2% {
    mask-position: 0 0;
  }

  99% {
    mask-position: -59520px 0;
  }

  99%,
  to {
    mask-position: -59520px 0;
  }
}

@keyframes lineAniKey {
  0% {
    transform: translateY(2.133333vw);
    opacity: 0;
  }
  50% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/* 变量写这里 */
@font-face {
  font-family: "pt";
  font-weight: normal;
  src: url("./static/font/pt.ttf");
}

@font-face {
  font-family: "song";
  font-weight: bold;
  src: url("./static/font/song.ttf");
}

@font-face {
  font-family: "song2";
  font-weight: bold;
  src: url("./static/font/song2.ttf");
}

@font-face {
  font-family: "LinLi";
  font-weight: bold;
  src: url("./static/font/LinLibertineSlantedB.ttf");
}
