.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #64cafb;
}

.background {
  position: absolute;
  width: 100vw;
  height: 216.533333vw;
  bottom: 0;
  animation-name: _1W4lcfkL;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.cloud {
  left: 0;
  top: 0;
  width: 100vw;
  height: 216.533333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/leadPageCloud.jpg);
  background-size: cover;
}

.tree {
  left: 63.466667vw;
  top: 117.333333vw;
  width: 17.333333vw;
  height: 23.2vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/leadPageTree.png);
  background-size: cover;
}

.table {
  left: 49.512vw;
  top: 122.133333vw;
  width: 32.8vw;
  height: 23.645333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/table.png);
  background-size: cover;
}

.cloud2 {
  left: 57.688vw;
  top: 120.354667vw;
  width: 40.266667vw;
  height: 26.933333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/leadPageCloud2.png);
  background-size: cover;
}

.table2 {
  left: 39.112vw;
  top: 109.154667vw;
  width: 63.288vw;
  height: 53.245333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/table2.png);
  background-size: cover;
}

.cloud3 {
  left: -4vw;
  top: 63.2vw;
  width: 118.488vw;
  height: 112.445333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/cloud3.png);
  background-size: cover;
}

.birds {
  left: 32.178667vw;
  top: 101.866667vw;
  width: 42.845333vw;
  height: 12vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/birds.png);
  background-size: cover;
}

.water {
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 88.8vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/leadPageWater.png);
  background-size: cover;
}

.peopleContent {
  animation-name: _2ZZx2w3N;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.bird {
  left: -0.888vw;
  top: 115.378667vw;
  width: 63.112vw;
  height: 32.712vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/bigBird.png);
  background-size: cover;
  animation-name: run;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

.lelePeople {
  left: 16.266667vw;
  top: 103.2vw;
  width: 29.866667vw;
  height: 53.122844vw;
  display: block;
  position: absolute;
  background: url(../../../../static/img/leadPagePeople.png);
  background-size: cover;
  animation-name: run;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

.bottomCloud {
  left: -31.733333vw;
  top: 184vw;
  width: 153.066667vw;
  height: 66.133333vw;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
  transform-origin: 50% 50%;
  display: block;
  position: absolute;
  background: url(../../../../static/img/bottomCloud.png);
  background-size: cover;
}

.textContent {
  position: absolute;
  top: 23.7vh;
  left: 50%;
  transform: translateX(-50%);
  color: #4a4847;
  text-align: center;
}

.title {
  font-size: 8vw;
  font-family: "song2";
  margin-bottom: 8vw;
}

.text {
  font-size: 4vw;
  font-family: "song2";
  margin-bottom: 2vw;
}

@keyframes _1W4lcfkL {
  0% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes _2ZZx2w3N {
  0% {
    transform: translate(-53.333333vw, -13.333333vw) scale(1.2);
  }

  100% {
    transform: translate(0) scale(1);
  }
}

@keyframes run {
  0% {
    transform: translateY(1.333333vw);
  }

  50% {
    transform: translateY(-1.333333vw);
  }

  100% {
    transform: translateY(1.333333vw);
  }
}
